:root {
    --mainBgColorWhite: #fafafa;
    --secondaryBgColorWhite: #ffffff;
    --mainTextColor: #3e4462;
    --mainAccentColor: #d61800;
    --secondaryAccentColor: #e94f08;
    --darkGreytoGreen: #1E1F28;
    --shadowColor: #e0e0e0;
    --wrapperBgGrey: #ebf3d4;
    --greenToWhite: #e94f08;
    --greenToGrey: #7f152e;
    --whiteToWhite: #fafafa;
    --darkToWhite: #22252a;
    --greyImageToDarkGrey: #ebf3d4;
    --darkToGreen: #22252a;
    --darkGreytoWhite: #001833;
    --greyToGrey: #F0F0F0;
    --inputColor: #BDBDBD;
    --darkToAccent: #22252A;
    --dropdownTextColor: #23262a;
    --inputBorderColor: rgba(35, 38, 42, 0.3);
    --greenToDark: #3cbc81;
    --hoverAnimation: 0.2s ease;
}
